@model Project8.Models.ChangePasswordViewModel


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


 
        @Html.ValidationSummary("", new { @class = "text-danger" })
   

    <table class="table">
        <tr>
            <td>
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-12 control-label" })
            </td>
            <td>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            </td>

            <td>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            </td>

            <td>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="adrara" value="Change password" class="btn btn-primary" />
            </td>
            <td>
            </td>
        </tr>
    </table>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}